======================================================================
 Welcome to {{ ansible_facts['hostname'] }}
======================================================================
 OS:            {{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }} ({{ ansible_facts['os_family'] }})
 Kernel:        {{ ansible_facts['kernel'] }}
 Managed By:    Proxaform / Ansible

 NOTICE: Authorized access only.
======================================================================